h1, p {
  font-family: Lato;
}

.square{
   float: left;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square.no-pointers{
  pointer-events: none
}

.clearfix{
    clear: both;
    content: "";
    display: table;
}

.play-again{
  background-color:aquamarine;
  float:right;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}